.form-box {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    background-color: #f9f9f9;
}

.output-box {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    background-color: #eef0f3;
}

.header-content {
    position: relative;
}

.header-image {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    margin-right: 10px;
}